@charset "UTF-8";

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendardvarialbe.woff2') format('woff2-variations');
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'GMarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    vertical-align: top;
    border: 0;
}

body{
    background: linear-gradient(135deg, #163a76, #060318,#163a76);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Pretendard';
}

button{
    color: white;
    background: linear-gradient(90deg, #6327c3, #1d90eb);
    padding: 5px 30px;
    border-radius: 20px;
    border: 0;
    transition: all 0.3s;
}

button:hover{
    background: white;
    color: #6327c3;
}

h2{
    font-family: 'GMarketSans';
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
}

ul li a{
    display: block;
}
/* li 전체 링크 설정하기 */


/* 헤더 */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 30px 0;
}

header .logo{
    line-height: 0;
}

header .logo img{
    width: 150px;
}

header .gnb{
    display: flex;
    gap: 25px;
}

header .header-btn{
    display: flex;
    gap: 20px;
}

header .header-btn>div{
    background: linear-gradient(90deg, #6327c3, #1d90eb);
    padding: 3px;
    border-radius: 20px;
}

header .header-btn div .btn-search{
    background: #060318;
    display: block;
    transition: all 0.3s;
}

header .header-btn div .btn-search:hover{
    color: white;
    background: transparent;
}



/* 메인배너 */
#banner-main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

#banner-main .banner-main-left{
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#banner-main .banner-main-left h2{
    text-align: left;
    line-height: 42px;
    margin-bottom: 0;
}

#banner-main .banner-main-left p{
    line-height: 24px;
}

#banner-main .banner-main-left button{
    width: 180px;
    margin: 0 auto;
}

#banner-main img:nth-of-type(1){
    height: 250px;
}

#banner-main img:nth-of-type(2){
    height: 300px;
}



/* 앨범 */
#newalbum{
    padding-top: 150px;
}

#newalbum ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 100px;
}

#newalbum ul li a{
    width: 350px;
    height: 400px;
    background-size: cover;
    background-position: center center;
    border-radius: 30px;
    position: relative;
}

#newalbum ul li:nth-child(1) a{background-image: url(images/album01.png);}
#newalbum ul li:nth-child(2) a{background-image: url(images/album02.png);}
#newalbum ul li:nth-child(3) a{background-image: url(images/album03.png); margin-top: -50px;}
#newalbum ul li:nth-child(4) a{background-image: url(images/album04.png);}
#newalbum ul li:nth-child(5) a{background-image: url(images/album05.png);}

#newalbum ul li a::after{
    content:"";
    display: block;
    width: 350px;
    height: 130px;
    background: linear-gradient(90deg, #6327c3, #1d90eb);
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0.85;
    border-radius: 0 0 30px 30px;
}

#newalbum ul li p{
    position: absolute;
    z-index: 5;
}

#newalbum ul li p:nth-child(1){
    font-size: 20px;
    bottom: 70px;
    left: 20px;
    font-weight: 600;
}

#newalbum ul li p:nth-child(2){
    color: #9498ab;
    bottom: 40px;
    left: 20px;
    font-weight: 300;
}

#newalbum>div{
    width: 1800px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}



/* 가수 */
#artist{
    padding-top: 150px;
}

#artist ul{
    display: flex;
    justify-content: center;
    gap: 50px;
}

#artist ul li a{
    width: 300px;
    height: 100px;
    background: linear-gradient(90deg, #1e0e4d, #0d3056);
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-radius: 20px;
}

#artist ul li a img{
    width: 85px;
    height: 85px;
    border-radius: 20px;
}

#artist ul li a div{
    margin-left: 10px;
}

#artist ul li div p:nth-child(1){
    font-size: 20px;
    font-weight: 600;
}

#artist ul li div p:nth-child(2){
    color: #9498ab;
    font-weight: 300;
}

#artist>div{
    width: 1800px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}



/* 플레이리스트 */
#playlist{
    padding-top: 150px;
}

#playlist ul{
    width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px 20px;
}

#playlist ul li a{
    width: 400px;
}

#playlist ul li a div{
    background: linear-gradient(90deg, #6327c3, #1d90eb);
    padding: 5px;
    width: 400px;
    height: 400px;
    border-radius: 20px;
}

#playlist ul li a p{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

#playlist ul li a div img{
    width: 390px;
    height: 390px;
    border-radius: 20px;
}

#playlist>div{
    width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}



/* 서브배너 */
#banner-sub{
    padding-top: 150px;
}

#banner-sub div{
    width: 750px;
    height: 200px;
    background: linear-gradient(90deg, #6327c3, #1d90eb);
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
    border-radius: 150px 0 150px 0;
}

#banner-sub div p{
    font-family: 'GMarketSans';
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 20px;
}


/* 푸터 */
footer{
    padding-top: 150px;
    padding-bottom: 100px;
}

footer .footer-gnb{
    border-top: 1px solid #64687c;
    border-bottom: 1px solid #64687c;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    font-weight: 300;
}

footer .footer-gnb li{
    padding: 20px 30px;
}

footer .footer-info{
    padding-top: 50px;
    width: 1500px;
    margin: 0 auto;
}

footer .footer-info .logo{
    line-height: 0;
}

footer .footer-info .logo img{
    width: 150px;
}

footer .footer-info ul{
    display: flex;
    margin-top: 25px;
    margin-bottom: 30px;
    font-weight: 300;
}

footer .footer-info ul li{
    border-right: 2px solid white;
    padding: 0 10px;
}

footer .footer-info ul li:first-child{
    padding-left: 0;
}

footer .footer-info ul li:last-child{
    border-right: 0;
}

footer .footer-info p{
    font-weight: 200;
    line-height: 25px;
    color: #9498ab
}

